@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #36a050;
  --primary-100: #d7ecdc;
  --primary-200: #57ee7d;
  --text: #333333;
  --white: #fbfbfb;
}
body {
  background-color: var(--white);
  color: var(--text);
}
.bg-primary {
  background-color: var(--primary);
}

.border-primary {
    border-color: var(--primary);
  }
.text-primary {
  color: var(--primary);
}
.text-white {
  color: var(--white);
}

.absolute-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow-theme {
  box-shadow: 20px 20px rgb(54, 160, 80, 0.45);
}

.custom-min-h {
  min-height: calc(100vh - 68px);
}
